.BalloonsBody {
    z-index: 1;
    display: flex;
    position: absolute;
    left: 0px;
    height: 150px;
}

.BalloonsBody img {
    height: 100px;
    width: auto;
    margin: 20px;
    margin-right: 0px !important;
}

.MenuBalloon:hover {
    transform: scale(1.3)
}

.RecordBalloon:hover {
    transform: scale(1.3)
}

.MenuBalloon {
    animation: BalloonFloat 1.5s ease-in-out alternate-reverse infinite;
    position: relative;
    transition: .8s;
}

.RecordBalloon {
    animation: BalloonFloat 1.3s ease-in-out alternate infinite;
    position: relative;
    transition: .8s;
}


.ResetBalloon {
    animation: BalloonFloat 2.3s ease-in-out alternate infinite;
    position: relative;
    transition: .8s;
}

@keyframes BalloonFloat {
    0% {top: 0px}
    100% {top: 25px}
}