.SoundboardBody {
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(5deg, rgb(80, 0, 80) 20%, purple 55%, orange);
}

.musicButton {
    height: 30vh;
    width: 50vw;
    border: 1px solid #2cb5e8;
    border-radius: 15px;
    font-size: 30px;
    font-family: 'Trebuchet MS';
    background: linear-gradient(141deg, #1fc8db 30%, #2cb5e8);
    cursor: pointer;
}

.musicButton:focus {
    outline: none;
}

.SliderContainer {
    display: flex;
    flex-direction: row;
}

.IndividualSliderContainer {
    display: flex;
    flex-direction: column;
}

.VolumeSlider {
    -webkit-appearance: slider-vertical;
}

.VolumeSlider:focus {
    outline: none;
}

#DrumSlider {
    -webkit-appearance: none;
    width: 550px;
    height: 23px;
    background: transparent;
    transform: rotate(270deg);
    position: absolute;
    bottom: 250px;
}

#DrumSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    border: 2px transparent solid;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: all ease .3s;
}

#DrumSlider:hover::-webkit-slider-thumb{
    border: 2px white solid;
    transition: .3s
}

.hover::-webkit-slider-thumb{
    border: 2px white solid !important;
}

.Grabber {
    width: 250px;
    height: 650px;
    /* border: white 1px solid; */
    position: absolute;
    bottom: -50px;
}

.Mountain {
    /* background: transparent; */
    background: rgb(0, 0, 60);
    width: 600px;
    height: 600px;
    position: absolute;
    bottom: -50px;
}

.bkgMount {
    background: rgb(0, 0, 60);
    width: 110vw;
    height: 250px;
    position: absolute;
    bottom: -50px;
    left: -100px;
    clip-path: polygon(0% 100%, 2% 10%, 5% 25%, 6% 38%, 8% 45%, 10% 30%, 15% 20%, 18% 45%, 24% 60%, 30% 50%, 35% 80%, 40% 88%, 45% 80%, 55% 30%, 59% 55%, 65% 46%, 68% 30%, 75% 50%, 85% 54%, 86% 60%, 90% 72%, 93% 80%, 100% 20%, 100% 100%);
}

.musicButton:active {
    box-shadow: inset 0px 0px 25px #2a90b6;
}