.sidebar {
width: 20%;
height: 99%;
border: 1px black solid;
align-items: center;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.shape {
background-color: red;
}

.square {
height: 150px;
width: 150px;
}

.triangle {
width: 150px;
height: 150px;
clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.circle {
width: 150px;
height: 150px;
border-radius: 50%;
}

.stage {
height: 90vh;
width: 75vw;
border: 2px black solid;
border-radius: 10%;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
margin-right: 20px;
}

.half {
height: 45%;
width: 95%;
background: rgb(200, 200, 200);
border-radius: 20px;
display: flex;
justify-content: space-evenly
}

.front {
margin-bottom: 10px
}

.sub {
width: 30%;
height: 99%;
border: 1px black solid;
}